.header{
    background-color: black;
}
#wpic{
    background-color:grey;
    border-radius: 60%;
    margin-left: -5px;
}
.fas{
    color: grey;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    position: absolute;
}
#arrow,#cus,#o,#s,#n{
    color: grey;
    display: inline;
    margin-left: 45px;
    text-transform: uppercase;
}
.ffs{
    margin-left: 70px;
}
#usar{
    color: grey;
    display: inline;
    text-transform: uppercase;
    padding-top:50px;
}
/* header end */
.sss{
    margin-top:50px;
}
#ooo{
    margin-left:140px;
    margin-top: 2px;
    background-color:rgb(228, 218, 218);
    padding: 5px;
    font-size: 12px;
}
.searchp{
    margin-left:500px;
   
}
#searchplace{
    border: none;
    background-color:rgb(228, 218, 218);
    padding:2px;
}
#ddp{
    font-size: 12px;
    color:grey;
    display: inline;
}
.sorting{
    margin-top:20px;
}
#dd{
    width: 180px;
}
/* show cart button start */
#submt{
    width:200px;
    height: 40px;
    font-size:1.5em ;
    color: white;
    background-color: rgb(165, 42, 149);
}
/* show cart button end */
/* sorting list end */
.lapi{
    text-align: center;
}
.lt{
    font-size: 11px;
    font-weight:bold;
}
/* sale button */
#fs{
    text-transform: uppercase;
    background-color: white;
    border:2px solid black;
}
#ss{
    text-transform: uppercase;
    background-color: white;
    border:2px solid black;
}
#ts{
    text-transform: uppercase;
    background-color: white;
    border:2px solid black;
}
s{
    color: rgb(194, 179, 179);
}
#bs{
    color: white;
    background-color:  rgb(165, 42, 149);
    border: none;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}
#bf{
    color: white;
    background-color:  rgb(165, 42, 149);
    border: none;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}
#bt{
    color: white;
    background-color:  rgb(165, 42, 149);
    border: none;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
}
#resultt{
    background-color: rgb(91, 143, 211);
    margin-top: 50px;
    margin-right:50px;
    margin-left: 20px;
    height: 300px;
    text-align: center;
}
 